---
---
@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

//********************************************************
//                    Variables
//********************************************************

// Several accent colors, choose one or create your own!
//$accent-color: #3CA2A2;    // original =)
//$accent-color: #C38FD6;  // velvet
//$accent-color: #8FD6B3;  // greenish
$accent-color: #35B4DE;  // bluish
//$accent-color: #D2E354;  // yellowish
//$accent-color: #52B54B;  // green

$font-color: rgb(231, 233, 234);
$background-color: #292929;
$post-panel-color: #222;
$footer-background-color: #222;
$note-color: #87CEFA;
$warning-color: #ffff00;

//********************************************************
//                  Common styles
//********************************************************
html {
  position: relative;
  min-height: 100%;
}
body {
  font-size: 19px;
  line-height: 1.75;
  color: $font-color;
  background: $background-color url(./pics/squares.png);
  //background: $background-color url(./pics/squares.png); // Another good pattern for background
}
p {
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.well {
  background-color: $post-panel-color;
  box-shadow: 0 0 0 0, 0px 8px 16px rgba(0, 0, 0, 0.2);
  border: 0;
  border-radius: 6px;
}
.main-page {
  width: 75%;
}

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .75em; }

img {
  display: inline-block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
}

img + em {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

blockquote {
  color: #bbb;
  font-size: 1em;
}

a {
  color: $accent-color;
}

a:hover, a:focus {
  color: #fff;
}

//********************************************************
//                    Social Links
//********************************************************
ul.social-media {
  text-align: center;
  padding: 0 0 10px 0;
  li {
    display: inline-block;
  }
  li > a {
    width: 45px;
    height: 45px;
    @include transition(color 0.2s);
    display: inline-block;
    color: white;
    &:hover {
      color: $accent-color;
    }
  }
}


//********************************************************
//                    Share
//********************************************************
.share-bar{
  text-align: right;
}

ul.share-buttons {
  list-style: none;
  padding: 0;
  li {
    display: inline-block;
    .fa-facebook,
    .fa-twitter,
    .fa-google-plus,
    .fa-linkedin,
    .fa-envelope-o,
    .fa-pinterest {
      color: #ffffff
    }
    a {
      text-decoration: none;
    }

    -webkit-transition: -webkit-transform .4s;
    -moz-transition: -moz-transform .4s;
    -ms-transition: -ms-transform .4s;
    -o-transition: -o-transform .4s;
    transition: transform .4s;
  }

  // Square frame
  li.share-facebook .fa-square-o { color: #3B5998;}
  li.share-twitter .fa-square-o { color: #55acee;}
  li.share-google-plus .fa-square-o { color: #dd4b39;}
  li.share-linkedin .fa-square-o { color: #4875B4;}
  li.share-pinterest .fa-square-o { color: #BD081C;}
  li.share-envelope .fa-square-o { color: #3B5998;}
  // Circle frame
  li.share-facebook .fa-circle-thin { color: #3B5998;}
  li.share-twitter .fa-circle-thin { color: #55acee;}
  li.share-google-plus .fa-circle-thin { color: #dd4b39;}
  li.share-linkedin .fa-circle-thin { color: #4875B4;}
  li.share-pinterest .fa-circle-thin { color: #BD081C;}
  li.share-envelope .fa-circle-thin { color: #3B5998;}

  li:hover {
    -webkit-transform: scale(1.3,1.3);
    -moz-transform: scale(1.3,1.3);
    -ms-transform: scale(1.3,1.3);
    -o-transform: scale(1.3,1.3);
    transform: scale(1.3,1.3);
  }
}

//********************************************************
//                    Sidebar
//********************************************************
.sidebar h2 {
  margin-top: 10px;
}
.sidebar ul {
  list-style-type: none;
  padding-inline-start: 0px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.sidebar li {
  margin-top: .7em;
  line-height: 1em;
}
ul.sideBarTags {
  list-style: none;
  li:before {
    content: '\f02b';
    font-family: 'FontAwesome';
    float: left;
    margin-left: -1.5em;
  }
}

//********************************************************
//                    Post
//********************************************************
.article h1 {
  margin-top: 10px;
}
.article .post-content p,
.article .post-content ul,
.article .post-content ol {
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.article .post-meta ul {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.article .well {
  padding-bottom: 60px;
}
h2.post-title {
  padding-top: 10px;
  text-align: left;
}
h2.post-title:first-of-type {
  margin-top: 0px;
}
div.post-meta {
  border-width: 1px 0;
  border-color: #666666;
  border-style: solid;
  margin: 0 0 20px;
  display: flow-root;
  ul {
    display: inline;
    padding-left: 0;
    float: right;
  }
  ul > li {
    display: inline;
    padding: 0 0 5px 20px;
  }
  .post-time {
    display: inline;
  }
}
.post-footer {
  height: 40px;
  display: table;
  width: 100%;
  position: relative;
  margin-top: 32px;
  text-align: center;
}

//********************************************************
//                    Note / Warning
//********************************************************
.note {
  position:relative;
  border: 0;
  padding-left: 30px;
}
.note:before {
  content: "\f06a";
  font-size: 2em;
  font-family: FontAwesome;
  left: 0px;
  position:absolute;
  top: 0;
  color: $note-color;
}
.warning:before {
  content: "\f071";
  color: $warning-color;
}

//********************************************************
//                    Header
//********************************************************
nav a {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  @include transition(color 0.31s);
  font-size: 18px;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
nav.navbar {
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  border-radius: 0px;
}
nav.navbar.shrink {
  min-height: 15px;
}
.navbar-brand {
  font-size: 30px;
  color: $accent-color;
}
.navbar-inverse .navbar-brand {
  color: #FFF;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: $accent-color;
}
.navbar-inverse .navbar-nav>li>a {
  color: #FFF;
}
.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus {
  color: $accent-color;
}
nav.shrink a {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  font-size: 15px;
}
nav.shrink .navbar-brand {
  font-size: 25px;
  height: inherit;
}
.navbar .navbar-nav {
  display: inline-block;
  float: right;
}
nav .navbar-toggle {
  margin: 13px 15px 13px 0;
}
nav.shrink .navbar-toggle {
  padding: 4px 5px;
  margin: 8px 15px 8px 0;
}
.navbar-nav>li {
  float: left;
}

//********************************************************
//                    Footer
//********************************************************
.footer {
  text-align: center;
}

.footer p {
  margin: 0px;
  font: normal 19px sans-serif;
}

.footer-distributed {
  background-color: $footer-background-color;
  font: normal 19px sans-serif;
  padding: 20px 25px;
  margin-top: 80px;
  text-align: center;
  bottom: 0;
  left: 0;
  width: 100%;
  position: absolute;
}


//********************************************************
//            Table of content (work in progress)
//********************************************************
.toc {
  background-color: #2c2c2c;
  margin-left: -19px;
  margin-right: -19px;
}

.box h3 {
  text-align:center;
  position:relative;
  top:80px;
}
.box {
  width:70%;
  height:200px;
  background:#FFF;
  margin:40px auto;
}
.wrapper{
  min-height: 100%;
  position: relative;
}
.content {
  padding-bottom: 250px;
}

//********************************************************
//       Custom classes to apply to block elements,
//  more info: http://pavelmakhov.com/2015/12/images-in-jekyll
//********************************************************
.key {
  font-size: 1.0em;
  box-shadow: 1px 0 1px 0 #555, 0 1px 0 2px #888, 0 2px 0 2px #777;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 2px 3px;
  padding: 0px 5px;
}
.center-image
{
  margin: 0 auto;
  display: block;
}
.filename{
  padding: 0px;
  margin: 0px;
  background-color: #292929;
  color: lightgrey;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  margin-bottom: 0px;
  padding-left: 1em;
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
  border-left: 0px;
  bottom: -2px;
  position: relative;
  padding-bottom: 2px;
}

//********************************************************
//            Gist Dark Mode
//********************************************************

/*!
 * GitHub Dark v0.5.0
 * Copyright (c) 2012 - 2017 GitHub, Inc.
 * Licensed under MIT (https://github.com/primer/github-syntax-theme-generator/blob/master/LICENSE)
 */

 .post-content .gist {
  --color-canvas-default-transparent: rgba(34,39,46,0);
  --color-page-header-bg: #22272e;
  --color-marketing-icon-primary: #6cb6ff;
  --color-marketing-icon-secondary: #316dca;
  --color-diff-blob-addition-num-text: #adbac7;
  --color-diff-blob-addition-fg: #adbac7;
  --color-diff-blob-addition-num-bg: rgba(87,171,90,0.3);
  --color-diff-blob-addition-line-bg: rgba(70,149,74,0.15);
  --color-diff-blob-addition-word-bg: rgba(70,149,74,0.4);
  --color-diff-blob-deletion-num-text: #adbac7;
  --color-diff-blob-deletion-fg: #adbac7;
  --color-diff-blob-deletion-num-bg: rgba(229,83,75,0.3);
  --color-diff-blob-deletion-line-bg: rgba(229,83,75,0.15);
  --color-diff-blob-deletion-word-bg: rgba(229,83,75,0.4);
  --color-diff-blob-hunk-num-bg: rgba(65,132,228,0.4);
  --color-diff-blob-expander-icon: #768390;
  --color-diff-blob-selected-line-highlight-mix-blend-mode: screen;
  --color-diffstat-deletion-border: rgba(205,217,229,0.1);
  --color-diffstat-addition-border: rgba(205,217,229,0.1);
  --color-diffstat-addition-bg: #57ab5a;
  --color-search-keyword-hl: rgba(198,144,38,0.4);
  --color-prettylights-syntax-comment: #768390;
  --color-prettylights-syntax-constant: #6cb6ff;
  --color-prettylights-syntax-entity: #dcbdfb;
  --color-prettylights-syntax-storage-modifier-import: #adbac7;
  --color-prettylights-syntax-entity-tag: #8ddb8c;
  --color-prettylights-syntax-keyword: #f47067;
  --color-prettylights-syntax-string: #96d0ff;
  --color-prettylights-syntax-variable: #f69d50;
  --color-prettylights-syntax-brackethighlighter-unmatched: #e5534b;
  --color-prettylights-syntax-invalid-illegal-text: #cdd9e5;
  --color-prettylights-syntax-invalid-illegal-bg: #922323;
  --color-prettylights-syntax-carriage-return-text: #cdd9e5;
  --color-prettylights-syntax-carriage-return-bg: #ad2e2c;
  --color-prettylights-syntax-string-regexp: #8ddb8c;
  --color-prettylights-syntax-markup-list: #eac55f;
  --color-prettylights-syntax-markup-heading: #316dca;
  --color-prettylights-syntax-markup-italic: #adbac7;
  --color-prettylights-syntax-markup-bold: #adbac7;
  --color-prettylights-syntax-markup-deleted-text: #ffd8d3;
  --color-prettylights-syntax-markup-deleted-bg: #78191b;
  --color-prettylights-syntax-markup-inserted-text: #b4f1b4;
  --color-prettylights-syntax-markup-inserted-bg: #1b4721;
  --color-prettylights-syntax-markup-changed-text: #ffddb0;
  --color-prettylights-syntax-markup-changed-bg: #682d0f;
  --color-prettylights-syntax-markup-ignored-text: #adbac7;
  --color-prettylights-syntax-markup-ignored-bg: #255ab2;
  --color-prettylights-syntax-meta-diff-range: #dcbdfb;
  --color-prettylights-syntax-brackethighlighter-angle: #768390;
  --color-prettylights-syntax-sublimelinter-gutter-mark: #545d68;
  --color-prettylights-syntax-constant-other-reference-link: #96d0ff;
  --color-codemirror-text: #adbac7;
  --color-codemirror-bg: #22272e;
  --color-codemirror-gutters-bg: #22272e;
  --color-codemirror-guttermarker-text: #22272e;
  --color-codemirror-guttermarker-subtle-text: #636e7b;
  --color-codemirror-linenumber-text: #768390;
  --color-codemirror-cursor: #adbac7;
  --color-codemirror-selection-bg: rgba(65,132,228,0.4);
  --color-codemirror-activeline-bg: rgba(99,110,123,0.1);
  --color-codemirror-matchingbracket-text: #adbac7;
  --color-codemirror-lines-bg: #22272e;
  --color-codemirror-syntax-comment: #768390;
  --color-codemirror-syntax-constant: #6cb6ff;
  --color-codemirror-syntax-entity: #dcbdfb;
  --color-codemirror-syntax-keyword: #f47067;
  --color-codemirror-syntax-storage: #f47067;
  --color-codemirror-syntax-string: #96d0ff;
  --color-codemirror-syntax-support: #6cb6ff;
  --color-codemirror-syntax-variable: #f69d50;
  --color-checks-bg: #1c2128;
  --color-checks-run-border-width: 1px;
  --color-checks-container-border-width: 1px;
  --color-checks-text-primary: #adbac7;
  --color-checks-text-secondary: #768390;
  --color-checks-text-link: #539bf5;
  --color-checks-btn-icon: #768390;
  --color-checks-btn-hover-icon: #adbac7;
  --color-checks-btn-hover-bg: rgba(99,110,123,0.1);
  --color-checks-input-text: #768390;
  --color-checks-input-placeholder-text: #636e7b;
  --color-checks-input-focus-text: #adbac7;
  --color-checks-input-bg: #2d333b;
  /*--color-checks-input-shadow: 0 0 0 1px (obj) => get_1.default(obj, path);*/
  --color-checks-donut-error: #e5534b;
  --color-checks-donut-pending: #c69026;
  --color-checks-donut-success: #46954a;
  --color-checks-donut-neutral: #768390;
  --color-checks-dropdown-text: #adbac7;
  --color-checks-dropdown-bg: #2d333b;
  --color-checks-dropdown-border: #444c56;
  --color-checks-dropdown-shadow: rgba(28,33,40,0.3);
  --color-checks-dropdown-hover-text: #adbac7;
  --color-checks-dropdown-hover-bg: rgba(99,110,123,0.1);
  --color-checks-dropdown-btn-hover-text: #adbac7;
  --color-checks-dropdown-btn-hover-bg: rgba(99,110,123,0.1);
  --color-checks-scrollbar-thumb-bg: rgba(99,110,123,0.4);
  --color-checks-header-label-text: #768390;
  --color-checks-header-label-open-text: #adbac7;
  --color-checks-header-border: #373e47;
  --color-checks-header-icon: #768390;
  --color-checks-line-text: #768390;
  --color-checks-line-num-text: #636e7b;
  --color-checks-line-timestamp-text: #636e7b;
  --color-checks-line-hover-bg: rgba(99,110,123,0.1);
  --color-checks-line-selected-bg: rgba(65,132,228,0.15);
  --color-checks-line-selected-num-text: #539bf5;
  --color-checks-line-dt-fm-text: #cdd9e5;
  --color-checks-line-dt-fm-bg: #966600;
  --color-checks-gate-bg: rgba(174,124,20,0.15);
  --color-checks-gate-text: #768390;
  --color-checks-gate-waiting-text: #c69026;
  --color-checks-step-header-open-bg: #2d333b;
  --color-checks-step-error-text: #e5534b;
  --color-checks-step-warning-text: #c69026;
  --color-checks-logline-text: #768390;
  --color-checks-logline-num-text: #636e7b;
  --color-checks-logline-debug-text: #986ee2;
  --color-checks-logline-error-text: #768390;
  --color-checks-logline-error-num-text: #636e7b;
  --color-checks-logline-error-bg: rgba(229,83,75,0.15);
  --color-checks-logline-warning-text: #768390;
  --color-checks-logline-warning-num-text: #c69026;
  --color-checks-logline-warning-bg: rgba(174,124,20,0.15);
  --color-checks-logline-command-text: #539bf5;
  --color-checks-logline-section-text: #57ab5a;
  --color-checks-ansi-black: #22272e;
  --color-checks-ansi-black-bright: #2d333b;
  --color-checks-ansi-white: #909dab;
  --color-checks-ansi-white-bright: #909dab;
  --color-checks-ansi-gray: #636e7b;
  --color-checks-ansi-red: #f47067;
  --color-checks-ansi-red-bright: #ff938a;
  --color-checks-ansi-green: #57ab5a;
  --color-checks-ansi-green-bright: #6bc46d;
  --color-checks-ansi-yellow: #c69026;
  --color-checks-ansi-yellow-bright: #daaa3f;
  --color-checks-ansi-blue: #539bf5;
  --color-checks-ansi-blue-bright: #6cb6ff;
  --color-checks-ansi-magenta: #b083f0;
  --color-checks-ansi-magenta-bright: #dcbdfb;
  --color-checks-ansi-cyan: #76e3ea;
  --color-checks-ansi-cyan-bright: #b3f0ff;
  --color-project-header-bg: #22272e;
  --color-project-sidebar-bg: #2d333b;
  --color-project-gradient-in: #2d333b;
  --color-project-gradient-out: rgba(45,51,59,0);
  --color-mktg-btn-bg: #f6f8fa;
  --color-mktg-btn-shadow-outline: rgb(255 255 255 / 25%) 0 0 0 1px inset;
  --color-mktg-btn-shadow-focus: rgb(255 255 255 / 25%) 0 0 0 4px;
  --color-mktg-btn-shadow-hover: 0 4px 7px rgba(0, 0, 0, 0.15), 0 100px 80px rgba(255, 255, 255, 0.02), 0 42px 33px rgba(255, 255, 255, 0.024), 0 22px 18px rgba(255, 255, 255, 0.028), 0 12px 10px rgba(255, 255, 255, 0.034), 0 7px 5px rgba(255, 255, 255, 0.04), 0 3px 2px rgba(255, 255, 255, 0.07);
  --color-mktg-btn-shadow-hover-muted: rgb(255 255 255) 0 0 0 2px inset;
  --color-avatar-bg: rgba(205,217,229,0.1);
  --color-avatar-border: rgba(205,217,229,0.1);
  --color-avatar-stack-fade: #444c56;
  --color-avatar-stack-fade-more: #373e47;
  --color-avatar-child-shadow: -2px -2px 0 #22272e;
  --color-topic-tag-border: rgba(0,0,0,0);
  --color-counter-border: rgba(0,0,0,0);
  --color-select-menu-backdrop-border: #545d68;
  --color-select-menu-tap-highlight: rgba(68,76,86,0.5);
  --color-select-menu-tap-focus-bg: #143d79;
  --color-overlay-shadow: 0 0 0 1px #444c56, 0 16px 32px rgba(28,33,40,0.85);
  --color-header-text: rgba(205,217,229,0.7);
  --color-header-bg: #2d333b;
  --color-header-divider: #768390;
  --color-header-logo: #cdd9e5;
  --color-header-search-bg: #22272e;
  --color-header-search-border: #444c56;
  --color-sidenav-selected-bg: #373e47;
  --color-menu-bg-active: #2d333b;
  --color-input-disabled-bg: rgba(99,110,123,0);
  --color-timeline-badge-bg: #373e47;
  --color-ansi-black: #545d68;
  --color-ansi-black-bright: #636e7b;
  --color-ansi-white: #909dab;
  --color-ansi-white-bright: #cdd9e5;
  --color-ansi-gray: #636e7b;
  --color-ansi-red: #f47067;
  --color-ansi-red-bright: #ff938a;
  --color-ansi-green: #57ab5a;
  --color-ansi-green-bright: #6bc46d;
  --color-ansi-yellow: #c69026;
  --color-ansi-yellow-bright: #daaa3f;
  --color-ansi-blue: #539bf5;
  --color-ansi-blue-bright: #6cb6ff;
  --color-ansi-magenta: #b083f0;
  --color-ansi-magenta-bright: #dcbdfb;
  --color-ansi-cyan: #39c5cf;
  --color-ansi-cyan-bright: #56d4dd;
  --color-btn-text: #adbac7;
  --color-btn-bg: #373e47;
  --color-btn-border: rgba(205,217,229,0.1);
  --color-btn-shadow: 0 0 transparent;
  --color-btn-inset-shadow: 0 0 transparent;
  --color-btn-hover-bg: #444c56;
  --color-btn-hover-border: #768390;
  --color-btn-active-bg: hsla(213,12%,27%,1);
  --color-btn-active-border: #636e7b;
  --color-btn-selected-bg: #2d333b;
  --color-btn-focus-bg: #373e47;
  --color-btn-focus-border: #768390;
  --color-btn-focus-shadow: 0 0 0 3px rgba(118,131,144,0.3);
  --color-btn-shadow-active: inset 0 0.15em 0.3em rgba(28,33,40,0.15);
  --color-btn-shadow-input-focus: 0 0 0 0.2em rgba(49,109,202,0.3);
  --color-btn-counter-bg: #444c56;
  --color-btn-primary-text: #ffffff;
  --color-btn-primary-bg: #347d39;
  --color-btn-primary-border: rgba(205,217,229,0.1);
  --color-btn-primary-shadow: 0 0 transparent;
  --color-btn-primary-inset-shadow: 0 0 transparent;
  --color-btn-primary-hover-bg: #46954a;
  --color-btn-primary-hover-border: rgba(205,217,229,0.1);
  --color-btn-primary-selected-bg: #347d39;
  --color-btn-primary-selected-shadow: 0 0 transparent;
  --color-btn-primary-disabled-text: rgba(205,217,229,0.5);
  --color-btn-primary-disabled-bg: rgba(52,125,57,0.6);
  --color-btn-primary-disabled-border: rgba(205,217,229,0.1);
  --color-btn-primary-focus-bg: #347d39;
  --color-btn-primary-focus-border: rgba(205,217,229,0.1);
  --color-btn-primary-focus-shadow: 0 0 0 3px rgba(46,164,79,0.4);
  --color-btn-primary-icon: #cdd9e5;
  --color-btn-primary-counter-bg: rgba(205,217,229,0.2);
  --color-btn-outline-text: #539bf5;
  --color-btn-outline-hover-text: #539bf5;
  --color-btn-outline-hover-bg: #444c56;
  --color-btn-outline-hover-border: rgba(205,217,229,0.1);
  --color-btn-outline-hover-shadow: 0 1px 0 rgba(28,33,40,0.1);
  --color-btn-outline-hover-inset-shadow: inset 0 1px 0 rgba(205,217,229,0.03);
  --color-btn-outline-hover-counter-bg: rgba(205,217,229,0.2);
  --color-btn-outline-selected-text: #cdd9e5;
  --color-btn-outline-selected-bg: #1b4b91;
  --color-btn-outline-selected-border: rgba(205,217,229,0.1);
  --color-btn-outline-selected-shadow: 0 0 transparent;
  --color-btn-outline-disabled-text: rgba(83,155,245,0.5);
  --color-btn-outline-disabled-bg: #22272e;
  --color-btn-outline-disabled-counter-bg: rgba(49,109,202,0.05);
  --color-btn-outline-focus-border: rgba(205,217,229,0.1);
  --color-btn-outline-focus-shadow: 0 0 0 3px rgba(37,90,178,0.4);
  --color-btn-outline-counter-bg: rgba(49,109,202,0.1);
  --color-btn-danger-text: #e5534b;
  --color-btn-danger-hover-text: #cdd9e5;
  --color-btn-danger-hover-bg: #c93c37;
  --color-btn-danger-hover-border: #e5534b;
  --color-btn-danger-hover-shadow: 0 0 transparent;
  --color-btn-danger-hover-inset-shadow: 0 0 transparent;
  --color-btn-danger-hover-icon: #cdd9e5;
  --color-btn-danger-hover-counter-bg: rgba(255,255,255,0.2);
  --color-btn-danger-selected-text: #ffffff;
  --color-btn-danger-selected-bg: #ad2e2c;
  --color-btn-danger-selected-border: #f47067;
  --color-btn-danger-selected-shadow: 0 0 transparent;
  --color-btn-danger-disabled-text: rgba(229,83,75,0.5);
  --color-btn-danger-disabled-bg: #22272e;
  --color-btn-danger-disabled-counter-bg: rgba(201,60,55,0.05);
  --color-btn-danger-focus-border: #e5534b;
  --color-btn-danger-focus-shadow: 0 0 0 3px rgba(229,83,75,0.4);
  --color-btn-danger-counter-bg: rgba(201,60,55,0.1);
  --color-btn-danger-icon: #e5534b;
  --color-underlinenav-icon: #636e7b;
  --color-underlinenav-border-hover: rgba(99,110,123,0.4);
  --color-action-list-item-inline-divider: rgba(68,76,86,0.48);
  --color-action-list-item-default-hover-bg: rgba(144,157,171,0.12);
  --color-action-list-item-default-hover-border: rgba(0,0,0,0);
  --color-action-list-item-default-active-bg: rgba(144,157,171,0.2);
  --color-action-list-item-default-active-border: rgba(0,0,0,0);
  --color-action-list-item-default-selected-bg: rgba(144,157,171,0.08);
  --color-action-list-item-danger-hover-bg: rgba(229,83,75,0.16);
  --color-action-list-item-danger-active-bg: rgba(229,83,75,0.24);
  --color-action-list-item-danger-hover-text: #f47067;
  --color-switch-track-bg: #1c2128;
  --color-switch-track-border: #636e7b;
  --color-switch-track-checked-bg: rgba(49,109,202,0.35);
  --color-switch-track-checked-hover-bg: rgba(49,109,202,0.5);
  --color-switch-track-checked-active-bg: rgba(49,109,202,0.65);
  --color-switch-track-checked-border: #539bf5;
  --color-switch-knob-checked-bg: #316dca;
  --color-switch-knob-checked-disabled-bg: #545d68;
  --color-segmented-control-bg: #2d333b;
  --color-segmented-control-button-hover-bg: #444c56;
  --color-segmented-control-button-active-bg: #373e47;
  --color-segmented-control-button-selected-border: #636e7b;
  --color-fg-default: #adbac7;
  --color-fg-muted: #768390;
  --color-fg-subtle: #636e7b;
  --color-fg-on-emphasis: #cdd9e5;
  --color-canvas-default: #22272e;
  --color-canvas-overlay: #2d333b;
  --color-canvas-inset: #1c2128;
  --color-canvas-subtle: #2d333b;
  --color-border-default: #444c56;
  --color-border-muted: #373e47;
  --color-border-subtle: rgba(205,217,229,0.1);
  --color-shadow-small: 0 0 transparent;
  --color-shadow-medium: 0 3px 6px #1c2128;
  --color-shadow-large: 0 8px 24px #1c2128;
  --color-shadow-extra-large: 0 12px 48px #1c2128;
  --color-neutral-emphasis-plus: #636e7b;
  --color-neutral-emphasis: #636e7b;
  --color-neutral-muted: rgba(99,110,123,0.4);
  --color-neutral-subtle: rgba(99,110,123,0.1);
  --color-accent-fg: #539bf5;
  --color-accent-emphasis: #316dca;
  --color-accent-muted: rgba(65,132,228,0.4);
  --color-accent-subtle: rgba(65,132,228,0.15);
  --color-success-fg: #57ab5a;
  --color-success-emphasis: #347d39;
  --color-success-muted: rgba(70,149,74,0.4);
  --color-success-subtle: rgba(70,149,74,0.15);
  --color-attention-fg: #c69026;
  --color-attention-emphasis: #966600;
  --color-attention-muted: rgba(174,124,20,0.4);
  --color-attention-subtle: rgba(174,124,20,0.15);
  --color-severe-fg: #cc6b2c;
  --color-severe-emphasis: #ae5622;
  --color-severe-muted: rgba(204,107,44,0.4);
  --color-severe-subtle: rgba(204,107,44,0.15);
  --color-danger-fg: #e5534b;
  --color-danger-emphasis: #c93c37;
  --color-danger-muted: rgba(229,83,75,0.4);
  --color-danger-subtle: rgba(229,83,75,0.15);
  --color-open-fg: #57ab5a;
  --color-open-emphasis: #347d39;
  --color-open-muted: rgba(70,149,74,0.4);
  --color-open-subtle: rgba(70,149,74,0.15);
  --color-closed-fg: #e5534b;
  --color-closed-emphasis: #c93c37;
  --color-closed-muted: rgba(229,83,75,0.4);
  --color-closed-subtle: rgba(229,83,75,0.15);
  --color-done-fg: #986ee2;
  --color-done-emphasis: #8256d0;
  --color-done-muted: rgba(152,110,226,0.4);
  --color-done-subtle: rgba(152,110,226,0.15);
  --color-sponsors-fg: #c96198;
  --color-sponsors-emphasis: #ae4c82;
  --color-sponsors-muted: rgba(201,97,152,0.4);
  --color-sponsors-subtle: rgba(201,97,152,0.15);
  --color-primer-fg-disabled: #545d68;
  --color-primer-canvas-backdrop: rgba(28,33,40,0.8);
  --color-primer-canvas-sticky: rgba(34,39,46,0.95);
  --color-primer-border-active: #ec775c;
  --color-primer-border-contrast: rgba(205,217,229,0.2);
  --color-primer-shadow-highlight: 0 0 transparent;
  --color-primer-shadow-inset: 0 0 transparent;
  --color-primer-shadow-focus: 0 0 0 3px #143d79;
  --color-scale-black: #1c2128;
  --color-scale-white: #cdd9e5;
  --color-scale-gray-0: #cdd9e5;
  --color-scale-gray-1: #adbac7;
  --color-scale-gray-2: #909dab;
  --color-scale-gray-3: #768390;
  --color-scale-gray-4: #636e7b;
  --color-scale-gray-5: #545d68;
  --color-scale-gray-6: #444c56;
  --color-scale-gray-7: #373e47;
  --color-scale-gray-8: #2d333b;
  --color-scale-gray-9: #22272e;
  --color-scale-blue-0: #c6e6ff;
  --color-scale-blue-1: #96d0ff;
  --color-scale-blue-2: #6cb6ff;
  --color-scale-blue-3: #539bf5;
  --color-scale-blue-4: #4184e4;
  --color-scale-blue-5: #316dca;
  --color-scale-blue-6: #255ab2;
  --color-scale-blue-7: #1b4b91;
  --color-scale-blue-8: #143d79;
  --color-scale-blue-9: #0f2d5c;
  --color-scale-green-0: #b4f1b4;
  --color-scale-green-1: #8ddb8c;
  --color-scale-green-2: #6bc46d;
  --color-scale-green-3: #57ab5a;
  --color-scale-green-4: #46954a;
  --color-scale-green-5: #347d39;
  --color-scale-green-6: #2b6a30;
  --color-scale-green-7: #245829;
  --color-scale-green-8: #1b4721;
  --color-scale-green-9: #113417;
  --color-scale-yellow-0: #fbe090;
  --color-scale-yellow-1: #eac55f;
  --color-scale-yellow-2: #daaa3f;
  --color-scale-yellow-3: #c69026;
  --color-scale-yellow-4: #ae7c14;
  --color-scale-yellow-5: #966600;
  --color-scale-yellow-6: #805400;
  --color-scale-yellow-7: #6c4400;
  --color-scale-yellow-8: #593600;
  --color-scale-yellow-9: #452700;
  --color-scale-orange-0: #ffddb0;
  --color-scale-orange-1: #ffbc6f;
  --color-scale-orange-2: #f69d50;
  --color-scale-orange-3: #e0823d;
  --color-scale-orange-4: #cc6b2c;
  --color-scale-orange-5: #ae5622;
  --color-scale-orange-6: #94471b;
  --color-scale-orange-7: #7f3913;
  --color-scale-orange-8: #682d0f;
  --color-scale-orange-9: #4d210c;
  --color-scale-red-0: #ffd8d3;
  --color-scale-red-1: #ffb8b0;
  --color-scale-red-2: #ff938a;
  --color-scale-red-3: #f47067;
  --color-scale-red-4: #e5534b;
  --color-scale-red-5: #c93c37;
  --color-scale-red-6: #ad2e2c;
  --color-scale-red-7: #922323;
  --color-scale-red-8: #78191b;
  --color-scale-red-9: #5d0f12;
  --color-scale-purple-0: #eedcff;
  --color-scale-purple-1: #dcbdfb;
  --color-scale-purple-2: #dcbdfb;
  --color-scale-purple-3: #b083f0;
  --color-scale-purple-4: #986ee2;
  --color-scale-purple-5: #8256d0;
  --color-scale-purple-6: #6b44bc;
  --color-scale-purple-7: #5936a2;
  --color-scale-purple-8: #472c82;
  --color-scale-purple-9: #352160;
  --color-scale-pink-0: #ffd7eb;
  --color-scale-pink-1: #ffb3d8;
  --color-scale-pink-2: #fc8dc7;
  --color-scale-pink-3: #e275ad;
  --color-scale-pink-4: #c96198;
  --color-scale-pink-5: #ae4c82;
  --color-scale-pink-6: #983b6e;
  --color-scale-pink-7: #7e325a;
  --color-scale-pink-8: #69264a;
  --color-scale-pink-9: #551639;
  --color-scale-coral-0: #ffdacf;
  --color-scale-coral-1: #ffb9a5;
  --color-scale-coral-2: #f79981;
  --color-scale-coral-3: #ec775c;
  --color-scale-coral-4: #de5b41;
  --color-scale-coral-5: #c2442d;
  --color-scale-coral-6: #a93524;
  --color-scale-coral-7: #8d291b;
  --color-scale-coral-8: #771d13;
  --color-scale-coral-9: #5d1008;
}

.post-content .gist .pl-c

/* comment, punctuation.definition.comment, string.comment */
    {
    color: var(--color-prettylights-syntax-comment);
}

.post-content .gist .pl-c1
/* constant, entity.name.constant, variable.other.constant, variable.language, support, meta.property-name, support.constant, support.variable, meta.module-reference, markup.quote, markup.raw, meta.diff.header */
,
.post-content .gist .pl-s .pl-v

/* string variable */
    {
    color: var(--color-prettylights-syntax-constant);
}

.post-content .gist .pl-e
/* entity */
,
.post-content .gist .pl-en

/* entity.name */
    {
    color: var(--color-prettylights-syntax-entity);
}

.post-content .gist .pl-smi
/* variable.parameter.function, storage.modifier.package, storage.modifier.import, storage.type.java, variable.other */
,
.post-content .gist .pl-s .pl-s1

/* string source */
    {
    color: var(--color-prettylights-syntax-storage-modifier-import);
}

.post-content .gist .pl-ent

/* entity.name.tag */
    {
    color: var(--color-prettylights-syntax-entity-tag);
}

.post-content .gist .pl-k

/* keyword, storage, storage.type */
    {
    color: var(--color-prettylights-syntax-keyword);
}

.post-content .gist .pl-s
/* string */
,
.post-content .gist .pl-pds
/* punctuation.definition.string, source.regexp, string.regexp.character-class */
,
.post-content .gist .pl-s .pl-pse .pl-s1
/* string punctuation.section.embedded source */
,
.post-content .gist .pl-sr
/* string.regexp */
,
.post-content .gist .pl-sr .pl-cce
/* string.regexp constant.character.escape */
,
.post-content .gist .pl-sr .pl-sre
/* string.regexp source.ruby.embedded */
,
.post-content .gist .pl-sr .pl-sra

/* string.regexp string.regexp.arbitrary-repitition */
    {
    color: var(--color-prettylights-syntax-string);
}

.post-content .gist .pl-v
/* variable */
,
.post-content .gist .pl-ml

/* markup.list, sublimelinter.mark.warning */
    {
    color: var(--color-prettylights-syntax-variable);
}

.post-content .gist .pl-bu

/* invalid.broken, invalid.deprecated, invalid.unimplemented, message.error, brackethighlighter.unmatched, sublimelinter.mark.error */
    {
    color: var(--color-prettylights-syntax-brackethighlighter-unmatched);
}

.post-content .gist .pl-ii

/* invalid.illegal */
    {
    color: var(--color-prettylights-syntax-invalid-illegal-text);
    background-color: var(--color-prettylights-syntax-invalid-illegal-bg);
}

.post-content .gist .pl-c2

/* carriage-return */
    {
    color: var(--color-prettylights-syntax-carriage-return-text);
    background-color: var(--color-prettylights-syntax-carriage-return-bg);
}

.post-content .gist .pl-c2::before

/* carriage-return */
    {
    content: "^M";
}

.post-content .gist .pl-sr .pl-cce

/* string.regexp constant.character.escape */
    {
    font-weight: bold;
    color: var(--color-prettylights-syntax-string-regexp);
}

.post-content .gist .pl-ml

/* markup.list */
    {
    color: var(--color-prettylights-syntax-markup-list);
}

.post-content .gist .pl-mh
/* markup.heading */
,
.post-content .gist .pl-mh .pl-en
/* markup.heading entity.name */
,
.post-content .gist .pl-ms

/* meta.separator */
    {
    font-weight: bold;
    color: var(--color-prettylights-syntax-markup-heading);
}

.post-content .gist .pl-mi

/* markup.italic */
    {
    font-style: italic;
    color: var(--color-prettylights-syntax-markup-italic);
}

.post-content .gist .pl-mb

/* markup.bold */
    {
    font-weight: bold;
    color: var(--color-prettylights-syntax-markup-bold);
}

.post-content .gist .pl-md

/* markup.deleted, meta.diff.header.from-file, punctuation.definition.deleted */
    {
    color: var(--color-prettylights-syntax-markup-deleted-text);
    background-color: var(--color-prettylights-syntax-markup-deleted-bg);
}

.post-content .gist .pl-mi1

/* markup.inserted, meta.diff.header.to-file, punctuation.definition.inserted */
    {
    color: var(--color-prettylights-syntax-markup-inserted-text);
    background-color: var(--color-prettylights-syntax-markup-inserted-bg);
}

.post-content .gist .pl-mc

/* markup.changed, punctuation.definition.changed */
    {
    color: var(--color-prettylights-syntax-markup-changed-text);
    background-color: var(--color-prettylights-syntax-markup-changed-bg);
}

.post-content .gist .pl-mi2

/* markup.ignored, markup.untracked */
    {
    color: var(--color-prettylights-syntax-markup-ignored-text);
    background-color: var(--color-prettylights-syntax-markup-ignored-bg);
}

.post-content .gist .pl-mdr

/* meta.diff.range */
    {
    font-weight: bold;
    color: var(--color-prettylights-syntax-meta-diff-range);
}

.post-content .gist .pl-ba

/* brackethighlighter.tag, brackethighlighter.curly, brackethighlighter.round, brackethighlighter.square, brackethighlighter.angle, brackethighlighter.quote */
    {
    color: var(--color-prettylights-syntax-brackethighlighter-angle);
}

.post-content .gist .pl-sg

/* sublimelinter.gutter-mark */
    {
    color: var(--color-prettylights-syntax-sublimelinter-gutter-mark);
}

.post-content .gist .pl-corl

/* constant.other.reference.link, string.other.link */
    {
    text-decoration: underline;
    color: var(--color-prettylights-syntax-constant-other-reference-link);
}

.post-content .gist .post-content .gist-data {
  border-bottom: 1px solid var(--color-border-default);
}

.post-content .gist .post-content .gist-meta {
  background-color: var(--color-canvas-subtle);
  color: var(--color-fg-default);
}

.post-content .gist .post-content .gist-meta a {
      color: var(--color-accent-fg);
}

//********************************************************
//            Embedded Code Snippets
//********************************************************


@mixin rounded($radius:4px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
$foreground: #A9B7C6;
$background: #2B2B2B;
$selectionForeground: #A9B7C6;
$selectionBackground: #214283;
$operators: #A9B7C6;
$strings: #A5C25C;
$names: #88be05;
$keywords: #CB772F;
$varAndProp: #A9B7C6;
$numbers: #6897BB;
$tag: #f1c829;
$attributes: #9876AA;
$comments: #75715e;
$linenos: #A9B7C6;
.highlight {
  margin-bottom: 1.5em;
  color: $foreground;
  background-color: $background;
  @include rounded(4px);
  pre {
    position: relative;
    margin: 0;
    padding: 1em;
    overflow-x: auto;
    word-wrap: normal;
    border: none;
    white-space: pre;
    background-color: #333;
    color: #ddd !important;
    code {
      white-space: pre;
      color: #ddd;
    }
  }
  pre::-webkit-scrollbar {
    height: 10px;
    background-color: #34362e;
    border-radius: 0 0 4px 4px;
  }
  pre::-webkit-scrollbar-thumb {
    background-color: #555;
    @include rounded(4px);
  }
  ::selection {
    background-color: $selectionBackground;
    color: $selectionForeground;
  }
}
.highlight > pre {
  -webkit-box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5);
}
.highlight,
img,
p > nobr > code,
li > code,
h5 > code,
p > pre,
p > code,
.note > code {
  color: tomato;
  background-color: #333;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5);
}


/* line numbers */
.lineno{ border-right: dashed 1px $linenos !important; color: $linenos; padding-right: 5px; padding-left: 0 !important;}

.hll { background-color: #49483e }
.c { color: $comments } /* Comment */
.err { color: #960050; background-color: #1e0010 } /* Error */
.k { color: $keywords } /* Keyword */
.l { color: $numbers} /* Literal */
.n { color: $varAndProp } /* Name */
.o { color: $operators } /* Operator */
.p { color: $varAndProp } /* Punctuation */
.cm { color: #75715e } /* Comment.Multiline */
.cp { color: #75715e } /* Comment.Preproc */
.c1 { color: #75715e } /* Comment.Single */
.cs { color: #75715e } /* Comment.Special */
.ge { font-style: italic } /* Generic.Emph */
.gs { font-weight: bold } /* Generic.Strong */
.kc { color: $keywords } /* Keyword.Constant */
.kd { color: $keywords } /* Keyword.Declaration */
.kn { color: $operators } /* Keyword.Namespace */
.kp { color: $keywords } /* Keyword.Pseudo */
.kr { color: $keywords } /* Keyword.Reserved */
.kt { color: $keywords } /* Keyword.Type */
.ld { color: $strings } /* Literal.Date */
.m { color: $numbers} /* Literal.Number */
.s { color: $strings } /* Literal.String */
.na { color: $attributes } /* Name.Attribute */
.nb { color: $varAndProp } /* Name.Builtin */
.nc { color: $names } /* Name.Class */
.no { color: $keywords } /* Name.Constant */
.nd { color: #f1c829 } /* Name.Decorator */
.ni { color: $varAndProp } /* Name.Entity */
.ne { color: $names } /* Name.Exception */
.nf { color: $names } /* Name.Function */
.nl { color: $varAndProp } /* Name.Label */
.nn { color: $varAndProp } /* Name.Namespace */
.nx { color: $names } /* Name.Other */
.py { color: $varAndProp } /* Name.Property */
.nt { color: $tag } /* Name.Tag */
.nv { color: $varAndProp } /* Name.Variable */
.ow { color: $operators } /* Operator.Word */
.w { color: $varAndProp  } /* Text.Whitespace */
.mf { color: $numbers } /* Literal.Number.Float */
.mh { color: $numbers } /* Literal.Number.Hex */
.mi { color: $numbers } /* Literal.Number.Integer */
.mo { color: $numbers } /* Literal.Number.Oct */
.sb { color: $strings } /* Literal.String.Backtick */
.sc { color: $strings } /* Literal.String.Char */
.sd { color: $strings } /* Literal.String.Doc */
.s2 { color: $strings } /* Literal.String.Double */
.se { color: $numbers} /* Literal.String.Escape */
.sh { color: $strings } /* Literal.String.Heredoc */
.si { color: $strings } /* Literal.String.Interpol */
.sx { color: $strings } /* Literal.String.Other */
.sr { color: $strings } /* Literal.String.Regex */
.s1 { color: $strings } /* Literal.String.Single */
.ss { color: $strings } /* Literal.String.Symbol */
.bp { color: $varAndProp  } /* Name.Builtin.Pseudo */
.vc { color: $varAndProp } /* Name.Variable.Class */
.vg { color: $varAndProp } /* Name.Variable.Global */
.vi { color: $varAndProp } /* Name.Variable.Instance */
.il { color: $numbers} /* Literal.Number.Integer.Long */

.gh { } /* Generic Heading & Diff Header */
.gu { color: #75715e; } /* Generic.Subheading & Diff Unified/Comment? */
.gd { color: $operators; } /* Generic.Deleted & Diff Deleted */
.gi { color: $names; } /* Generic.Inserted & Diff Inserted */
.l-Scalar-Plain {color: $names}

/* Solarized Dark

For use with Jekyll and Pygments

http://ethanschoonover.com/solarized

SOLARIZED HEX      ROLE
--------- -------- ------------------------------------------
base03    #002b36  background
base01    #586e75  comments / secondary content
base1     #93a1a1  body text / default code / primary content
orange    #cb4b16  constants
red       #dc322f  regex, special keywords
blue      #268bd2  reserved keywords
cyan      #2aa198  strings, numbers
green     #859900  operators, other keywords
*/

.highlight pre { background-color: #002b36; color: #93a1a1 }
.highlight pre .lineno { color: #586e75 } /* Line Numbers */
.highlight pre .c { color: #586e75 } /* Comment */
.highlight pre .err { color: #93a1a1 } /* Error */
.highlight pre .g { color: #93a1a1 } /* Generic */
.highlight pre .k { color: #859900 } /* Keyword */
.highlight pre .l { color: #93a1a1 } /* Literal */
.highlight pre .n { color: #93a1a1 } /* Name */
.highlight pre .o { color: #859900 } /* Operator */
.highlight pre .x { color: #cb4b16 } /* Other */
.highlight pre .p { color: #93a1a1 } /* Punctuation */
.highlight pre .cm { color: #586e75 } /* Comment.Multiline */
.highlight pre .cp { color: #859900 } /* Comment.Preproc */
.highlight pre .c1 { color: #586e75 } /* Comment.Single */
.highlight pre .cs { color: #859900 } /* Comment.Special */
.highlight pre .gd { color: #2aa198 } /* Generic.Deleted */
.highlight pre .ge { color: #93a1a1; font-style: italic } /* Generic.Emph */
.highlight pre .gr { color: #dc322f } /* Generic.Error */
.highlight pre .gh { color: #cb4b16 } /* Generic.Heading */
.highlight pre .gi { color: #859900 } /* Generic.Inserted */
.highlight pre .go { color: #93a1a1 } /* Generic.Output */
.highlight pre .gp { color: #93a1a1 } /* Generic.Prompt */
.highlight pre .gs { color: #93a1a1; font-weight: bold } /* Generic.Strong */
.highlight pre .gu { color: #cb4b16 } /* Generic.Subheading */
.highlight pre .gt { color: #93a1a1 } /* Generic.Traceback */
.highlight pre .kc { color: #cb4b16 } /* Keyword.Constant */
.highlight pre .kd { color: #268bd2 } /* Keyword.Declaration */
.highlight pre .kn { color: #859900 } /* Keyword.Namespace */
.highlight pre .kp { color: #859900 } /* Keyword.Pseudo */
.highlight pre .kr { color: #268bd2 } /* Keyword.Reserved */
.highlight pre .kt { color: #dc322f } /* Keyword.Type */
.highlight pre .ld { color: #93a1a1 } /* Literal.Date */
.highlight pre .m { color: #2aa198 } /* Literal.Number */
.highlight pre .s { color: #2aa198 } /* Literal.String */
.highlight pre .na { color: #93a1a1 } /* Name.Attribute */
.highlight pre .nb { color: #B58900 } /* Name.Builtin */
.highlight pre .nc { color: #268bd2 } /* Name.Class */
.highlight pre .no { color: #cb4b16 } /* Name.Constant */
.highlight pre .nd { color: #268bd2 } /* Name.Decorator */
.highlight pre .ni { color: #cb4b16 } /* Name.Entity */
.highlight pre .ne { color: #cb4b16 } /* Name.Exception */
.highlight pre .nf { color: #268bd2 } /* Name.Function */
.highlight pre .nl { color: #93a1a1 } /* Name.Label */
.highlight pre .nn { color: #93a1a1 } /* Name.Namespace */
.highlight pre .nx { color: #93a1a1 } /* Name.Other */
.highlight pre .py { color: #93a1a1 } /* Name.Property */
.highlight pre .nt { color: #268bd2 } /* Name.Tag */
.highlight pre .nv { color: #268bd2 } /* Name.Variable */
.highlight pre .ow { color: #859900 } /* Operator.Word */
.highlight pre .w { color: #93a1a1 } /* Text.Whitespace */
.highlight pre .mf { color: #2aa198 } /* Literal.Number.Float */
.highlight pre .mh { color: #2aa198 } /* Literal.Number.Hex */
.highlight pre .mi { color: #2aa198 } /* Literal.Number.Integer */
.highlight pre .mo { color: #2aa198 } /* Literal.Number.Oct */
.highlight pre .sb { color: #586e75 } /* Literal.String.Backtick */
.highlight pre .sc { color: #2aa198 } /* Literal.String.Char */
.highlight pre .sd { color: #93a1a1 } /* Literal.String.Doc */
.highlight pre .s2 { color: #2aa198 } /* Literal.String.Double */
.highlight pre .se { color: #cb4b16 } /* Literal.String.Escape */
.highlight pre .sh { color: #93a1a1 } /* Literal.String.Heredoc */
.highlight pre .si { color: #2aa198 } /* Literal.String.Interpol */
.highlight pre .sx { color: #2aa198 } /* Literal.String.Other */
.highlight pre .sr { color: #dc322f } /* Literal.String.Regex */
.highlight pre .s1 { color: #2aa198 } /* Literal.String.Single */
.highlight pre .ss { color: #2aa198 } /* Literal.String.Symbol */
.highlight pre .bp { color: #268bd2 } /* Name.Builtin.Pseudo */
.highlight pre .vc { color: #268bd2 } /* Name.Variable.Class */
.highlight pre .vg { color: #268bd2 } /* Name.Variable.Global */
.highlight pre .vi { color: #268bd2 } /* Name.Variable.Instance */
.highlight pre .il { color: #2aa198 } /* Literal.Number.Integer.Long */

//********************************************************

@media (min-width: 1000px) {
  .twoRow .navbar-collapse {
    clear: left;
  }
  .footer-distributed .footer {
    text-align: center;
  }
  .footer-distributed .footer {
    float: none;
    margin: 0 auto 0px;
  }
  .footer-distributed .footer {
    line-height: 1.8;
  }
}
