<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }}</title>
  <meta name="theme-color" content="#222222">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="{{ site.author }}">
  {% if page.description %}
  <meta name="description" content="{{ page.description }}">
  {% elsif site.description %}
  <meta name="description" content="{{ site.description }}">
  {% endif %}
  {% if page.robots %}
  <meta name="robots" content="{{ page.robots }}">
  {% else %}
  <meta name="robots" content="index, follow">
  {% endif %}
  <meta property="og:locale" content="en_us">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }}">
  <meta property="og:url" content="{{ site.url | append:page.url }}">
  <meta property="og:site_name" content="{{ site.name }}">
  {% if page.header %}
  <meta property="og:image" content="{{ site.url | append:page.header }}">
  {% endif %}
  {% if page.headerwidth and page.headerheight %}
  <meta property="og:image:width" content="{{ page.headerwidth }}">
  <meta property="og:image:height" content="{{ page.headerheight }}">
  {% endif %}
  {% if page.description %}
  <meta property="og:description" content="{{ page.description }}">
  {% endif %}
  {% if page.header %}
  <meta name="twitter:image" content="{{ site.url | append:page.header }}">
  <meta name="twitter:card" content="summary_large_image">
  {% endif %}
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }}">
  {% if page.description %}
  <meta name="twitter:description" content="{{ page.description }}">
  {% endif %}
  <link href="{{ site.baseurl}}/assets/css/style.css" rel="stylesheet">
  <link rel="canonical" href="{{ site.url | append:page.url }}">
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <link rel="me" href="https://hachyderm.io/@ryanspletzer">
  {% include json-ld.html %}
</head>

<body>

  {% include google-analytics.html %}

  <a href="#main-content" class="skip-link">Skip to content</a>

  <header role="banner">
    <nav class="site-nav" aria-label="Main">
      <div class="site-nav-inner">
        <a class="site-title" href="{{ site.baseurl}}/">{{ site.name }}</a>
        <ul class="site-nav-links">
          <li><a href="{{ site.baseurl}}/">home</a></li>
          <li><a href="{{ site.baseurl}}/archive/">archive</a></li>
          <li><a href="{{ site.baseurl}}/tags/">tags</a></li>
          <li><a href="{{ site.baseurl}}/about/">about</a></li>
          <li><a href="{{ site.baseurl}}/linkfarm/">linkfarm</a></li>
          <li><a href="{{ site.baseurl}}/feed.xml">rss</a></li>
        </ul>
      </div>
    </nav>
  </header>
