code,
pre {
  font-family: var(--font-mono);
  font-size: var(--size-code);
}

// Embedded code snippets
.highlight {
  direction: ltr;
  color: var(--color-text);
  background-color: var(--color-code-bg);
  border-radius: var(--radius-block);
  box-shadow: var(--color-code-shadow);
  margin-block-end: 1.5em;
  pre {
    position: relative;
    margin: 0;
    padding: 1em;
    overflow-x: auto;
    border: none;
    white-space: pre;
    background-color: var(--color-code-bg);
  }
  pre::-webkit-scrollbar {
    height: 10px;
    background-color: var(--color-scrollbar-bg);
    border-radius: 0 0 var(--radius-block) var(--radius-block);
  }
  pre::-webkit-scrollbar-thumb {
    background-color: var(--color-scrollbar-thumb);
    border-radius: var(--radius-block);
  }
  ::selection {
    background-color: var(--color-code-selection-bg);
    color: var(--color-code-lineno);
  }
}

// Inline code
li > code,
p > code,
.note > code {
  color: var(--color-text);
  background-color: var(--color-code-bg);
  border-radius: var(--radius-inline);
  padding: 0.125em 0.375em;
}
pre,
pre > code {
  color: var(--color-text);
  background-color: var(--color-code-bg);
  border: 1px solid var(--color-code-bg);
}
pre > code {
  font-size: inherit;
}

@media (forced-colors: active) {
  .highlight pre {
    white-space: pre-wrap;
    overflow-wrap: break-word;
  }
}

.lineno { border-inline-end: dashed 1px var(--color-code-lineno) !important; color: var(--color-code-lineno); padding-inline-end: 0.3125rem; padding-inline-start: 0 !important; }
