code,
pre {
  font-size: 85%;
}

// Embedded code snippets
.highlight {
  margin-bottom: 1.5em;
  border-radius: 4px;
  pre {
    position: relative;
    margin: 0;
    padding: 1em;
    overflow-x: auto;
    border: none;
    white-space: pre;
    background-color: var(--color-code-bg);
  }
  pre::-webkit-scrollbar {
    height: 10px;
    background-color: #1E1E1E;
    border-radius: 0 0 4px 4px;
  }
  pre::-webkit-scrollbar-thumb {
    background-color: #424242;
    border-radius: 4px;
  }
  ::selection {
    background-color: var(--color-code-selection-bg);
    color: var(--color-code-lineno);
  }
}
.highlight,
li > code,
p > code,
.note > code {
  color: var(--color-text);
  background-color: var(--color-code-bg);
  border-radius: 5px;
  box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5);
}
pre,
pre > code {
  color: var(--color-text);
  background-color: var(--color-code-bg);
  border: 1px solid var(--color-code-bg);
}
pre > code {
  font-size: inherit;
}

@media (forced-colors: active) {
  .highlight pre {
    white-space: pre-wrap;
    overflow-wrap: break-word;
  }
}

.lineno { border-right: dashed 1px var(--color-code-lineno) !important; color: var(--color-code-lineno); padding-right: 0.3125rem; padding-left: 0 !important; }
