.center-image {
  margin: 0 auto;
  display: block;
}

.key {
  font-size: 1em;
  box-shadow: 1px 0 1px 0 #555, 0 1px 0 2px #888, 0 2px 0 2px #777;
  border-radius: 3px;
  margin: 0.125rem 0.1875rem;
  padding: 0 0.3125rem;
}

.filename {
  padding: 0;
  margin: 0;
  background-color: var(--color-bg);
  color: lightgrey;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  margin-bottom: 0;
  padding-left: 1em;
  font-family: var(--font-mono);
  border-left: 0;
  bottom: -2px;
  position: relative;
  padding-bottom: 2px;
}

.note {
  position: relative;
  border: 0;
  border-left: 4px solid var(--color-note);
  padding-left: 1.875rem;
}

.note:before {
  content: "\2139";
  font-size: 1.5em;
  left: 0.375rem;
  position: absolute;
  top: 0;
  color: var(--color-note);
}

.warning {
  border-left-color: var(--color-warning);
}

.warning:before {
  content: "\26A0";
  color: var(--color-warning);
}
