{% include header.html %}

<div class="wrapper">
  <div class="content">
    <div class="container container-center">
      <div class="row">
        <div class="col-md-9">
          <main id="main-content">
            <article>
              <div class="well">
                <h1>{{ page.title }}</h1>
                <div class="post-content">
                  {{ content }}
                </div>
              </div>
            </article>
          </main>
        </div>
        <div class="col-md-3">
          <aside aria-label="Sidebar">
            {% include sidebar.html %}
          </aside>
        </div>
      </div>
    </div>
  </div>
</div>
{% include footer.html %}
</body>

</html>
